<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Heart Attack Prediction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
  </head>

  <body class="d-flex flex-column min-vh-100 pt-2 pb-2 pr-2 p-lg-2  border border-dark-subtle" style="background:#dfe5ed">
    <!-- <h1>Home</h1> -->
    <nav class="navbar navbar-expand-lg " style="background:rgb(17, 28, 57)">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"><img src="https://media.9curry.com/uploads/organization/image/3382/cdac-mumbai-centre.png" width=60 height=55></a>
                  </li>
              <li class="nav-item">
                <a class="nav-link text-secondary active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="heart">Heart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="about">Analysis</a>
              </li>
             
              
            </ul>
            
          </div>
        </div>
      </nav>

    
      <div id="carouselExampleFade" class="carousel slide carousel-fade my-4">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://www.nhlbi.nih.gov/sites/default/files/styles/meta_image/public/2022-09/Heart.jpg?itok=Mfe23Jii" class="d-block w-100" alt="..." width=620 height=465>
          </div>
          <div class="carousel-item">
            <img src="https://www.muhealth.org/sites/default/files/2019-01/hearthealth-compressor.jpg" class="d-block w-100" alt="..." width=620 height=465>
          </div>
          <div class="carousel-item">
            <img src="https://media.licdn.com/dms/image/C4E12AQEq1OUD0Dn2Mg/article-cover_image-shrink_720_1280/0/1634224918357?e=2147483647&v=beta&t=n3N2zoJVLMcMyv2JdwjW6YC5RyDdB6w135YkwE-sTTs" class="d-block w-100" alt="..." width=620 height=465>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
      <div class="card mb-3" style="background-color: coral;">
        <p>
            <h4 style="color: rgb(21, 39, 70);padding-left: 80px;">Are you wondering about the condition of your heart? This app will help you to diagnose it!</h3>
        </p>
        <img src="https://www.narayanahealth.org/blog/wp-content/uploads/2020/08/shutterstock_141857752-scaled.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Heart Attack Prediction System</h4>
          <p class="card-text"> Heart attack prediction is one of the serious causes of morbidity in the world’s population. The clinical data analysis includes a very crucial disease i.e., cardiovascular disease as one of the most important sections for the prediction. Data Science and machine learning (ML) can be very helpful in the prediction of heart attacks in which different risk factors like high blood pressure, high cholesterol, abnormal pulse rate, diabetes, etc... can be considered. The objective of this study is to optimize the prediction of heart disease using ML.
          </p>
         
        </div>
      </div>
      
 <!-- </div> -->
    
</div>


     
<div>
    <footer class="bg-light text-center text-lg-start mt-auto " style="background:rgb(17, 28, 57)">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgb(17, 28, 57); color:white" >
            © 2023 TEAM-17 DBDA CDAC KHARGHAR:
            <a class="text-primary" href="#"> </a>
            
        </div>
        <!-- Copyright -->
    </footer>
  </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>
